In [1]:
import scanpy as sc
import pandas as pd
import hdf5plugin

In [2]:
df = pd.read_csv("./data/9.Marker_genes/brain_markers.csv")
df

                          cell_name  Symbol
0                          Pericyte    MCAM
1                          Pericyte    NGFR
2                          Pericyte  PECAM1
3                          Pericyte   PTPRC
4                          Pericyte   CSPG4
..                              ...     ...
724                 Oligodendrocyte  PDGFRA
725                 Oligodendrocyte     QKI
726                 Oligodendrocyte   PCDH9
727  Oligodendrocyte precursor cell    SOX6
728  Oligodendrocyte precursor cell   CSPG4

[729 rows x 2 columns]

In [3]:
astrocyte_marker_lst = [
    "GFAP",
    "FGFR3",
    "SLC4A4",
    "SLC14A1",
    "NFIA",
    "CLU",
    "GABRB1",
    "NTRK2",
    "SPARCL1",
    "SLC1A2",
    "DTNA",
    "GLUL",
    "SLC1A3",
    "PTGDS",
    "RYR3",
    "ATP1A2",
]


microglial_marker_lst = [
    "GRIA2",
    "ATP1A3",
    "PKM",
    "PGAM1",
    "GNAS",
    "PEBP1",
    "ALDOA",
    "KIF1A",
    "SLC1A3",
    "APBB1IP",
    "CD74",
    "DOCK8",
    "KCNMA1",
    "FTL",
    "SORL1",
    "FKBP5"
]


oligodendrocytes_marker_lst = [
    "PLP1",
    "GSN",
    "CLDN11",
    "TF",
    "PTGDS",
    "CNDP1",
    "CNTNAP2",
    "QKI",
    "PCDH9",
    "ZEB2",
    "SKG1",
    "TMEFF2",
    "TCF12",
    "MOBP",
    "MBP",
    "RTN4",
]

In [4]:
# Filter the rows for each cell type with their specific genes
astrocyte_filtered = df[(df['cell_name'] == 'Astrocyte') & (df['Symbol'].isin(astrocyte_marker_lst))]
microglial_filtered = df[(df['cell_name'] == 'Microglial cell') & (df['Symbol'].isin(microglial_marker_lst))]
oligodendrocytes_filtered = df[(df['cell_name'] == 'Oligodendrocyte') & (df['Symbol'].isin(oligodendrocytes_marker_lst))]

# Filter the rows for all other cell types
other_cells = df[~df['cell_name'].isin(['Astrocyte', 'Microglial cell', 'Oligodendrocyte'])]

# Combine the filtered rows for the specific cell types with the other cell types rows
filtered_df = pd.concat([astrocyte_filtered, microglial_filtered, oligodendrocytes_filtered, other_cells])

In [5]:
filtered_df

                          cell_name   Symbol
8                         Astrocyte     GFAP
20                        Astrocyte    FGFR3
26                        Astrocyte   SLC4A4
31                        Astrocyte  SLC14A1
77                        Astrocyte     NFIA
..                              ...      ...
472               Excitatory neuron    NCAM1
473               Excitatory neuron   ATP1A3
720  Oligodendrocyte precursor cell    DSCAM
727  Oligodendrocyte precursor cell     SOX6
728  Oligodendrocyte precursor cell    CSPG4

[96 rows x 2 columns]

In [6]:
filtered_df.to_csv("./data/9.Marker_genes/brain_markers4display.csv", index=False)

In [7]:
astrocyte_filtered

     cell_name   Symbol
8    Astrocyte     GFAP
20   Astrocyte    FGFR3
26   Astrocyte   SLC4A4
31   Astrocyte  SLC14A1
77   Astrocyte     NFIA
84   Astrocyte   GABRB1
86   Astrocyte      CLU
96   Astrocyte    NTRK2
119  Astrocyte  SPARCL1
242  Astrocyte   SLC1A2
248  Astrocyte     DTNA
255  Astrocyte     GLUL
264  Astrocyte   SLC1A3
359  Astrocyte    PTGDS
373  Astrocyte     RYR3
424  Astrocyte   ATP1A2

In [8]:
oligodendrocytes_filtered

           cell_name   Symbol
10   Oligodendrocyte     RTN4
14   Oligodendrocyte     PLP1
29   Oligodendrocyte      MBP
37   Oligodendrocyte      GSN
68   Oligodendrocyte     MOBP
71   Oligodendrocyte   CLDN11
150  Oligodendrocyte    TCF12
168  Oligodendrocyte   TMEFF2
250  Oligodendrocyte     ZEB2
342  Oligodendrocyte       TF
351  Oligodendrocyte    PTGDS
468  Oligodendrocyte    CNDP1
723  Oligodendrocyte  CNTNAP2
725  Oligodendrocyte      QKI
726  Oligodendrocyte    PCDH9